[submodule "data-ubaparciales"]
	path = src/app/shared/data
	url = https://github.com/gaston08/data-ubaparciales.git
[submodule "src/app/shared/data"]
	path = src/app/shared/data
	url = https://github.com/gaston08/data-ubaparciales.git
