.tiptapAppCreateExam {
  background: white !important;
  min-height: 100vh;
  min-width: 100vw;
  background: red;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    border: 1px solid black;
    padding: 5px;
  }

  button.is-active {
    background-color: lightblue;
  }

  button.disabled-btn {
    cursor: not-allowed;
    background: #ccc;
  }

  button:hover:not(.disabled-btn) {
    background-color: lightblue;
    filter: brightness(80%);
  }

  .MuiGrid-container {
    border: 1px solid red;
  }
  .MuiGrid-item {
    border: 1px solid black;
  }

  .flexContainer {
    width: 100%;
  }

  .flexContainer > div {
    display: flex;
  }

  .tiptap {
    height: 400px;
    width: 100%;
    overflow: scroll;
    border: 1px solid black;
  }
}
